
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
  font-family: 'Lato', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 3%;
}
nav a {
  text-decoration: none;
}
.logo-b {
  border-radius: 50%;
}
.s_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 8%;
  padding-left: 8%;
  /* font-size: 25px; */
}
.s_1 p {
  color: rgb(209, 209, 209);
  font-weight: normal;
}
.s_2 ul{
  display: flex;
  padding-left: 5%;
  /* padding-top: 5%; */
  height: 20px;
  /* background-color: white; */
}
ul a {
  text-decoration: none;
}
.btn{
  color: white;
  padding: 6px;
  margin-right: 20px;
  border: 0;
}
.s_3 {
  text-align: center;
  padding-top: 10px;
  
}
.grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      margin-top: 50px;
      background-color: rgb(30, 30, 30);
      
}
.grid-item {
  border-radius: 7px;
padding: 15%;
margin: 10px;
}
.content {
  border: 1px solid white;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding: 60px;
}
.c-1 {
  display: flex;
  justify-content: space-around;
}
.ech {
  padding-bottom: 10px;
}

